<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
				<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Quên mật khẩu</li>
			</ol>
		</div>
	</div>
<div class="container">
	<div class="register">
		<h2>Đổi Mật Khẩu</h2>
		  	  <form id="formemail" action="/account/email" method="post">
				 <div class="col-md-6  register-top-grid">
					
					<div class="mation">
					{{#if error}}
						<div class="alert alert-danger" role="alert">
							<span class="glyphicon" aria-hidden="true"></span>
							{{error}}
						</div>
					{{else if message}}
						<div class="alert alert-success" role="alert">
							<span class="glyphicon" aria-hidden="true"></span>
							{{message}}
						</div>
					{{/if}}
						<span>Địa chỉ email</span>
						<input id="email" type="text" name="email" >
					</div>
					<div class="clearfix"> </div>
				</div>
					 <div class="clearfix"> </div>
					<div class="register-but">  
						<a class="forgot" href="/">Trang chủ</a>
					   <button class="form-submit" type="submit" >Tiếp tục</button>
					   <div  class="clearfix"> </div>
					</div>
				</form>
		   </div>
</div>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
$(document).ready(function() {
	$("#formemail").validate({
		rules: {
			email: {
				required: true,
				minlength: 17,
				email: true
			},
		},
		messages: {
			email: 'Định dạng email sai'
		},
		highlight: function (element) {
			$(element).parent().addClass('error')
		},
		unhighlight: function (element) {
			$(element).parent().removeClass('error')
		},
		submitHandler: function(form) {
      	form.submit();
    }
	});
});
})
</script>